body {
  color: rgb(var(--foreground-rgb));
  background-image:linear-gradient(90deg,#ffffff,#f0f0f0);
}

.message-container {
  display: flex;
  flex-direction: column;
  height: 50rem;
}

.message {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f4f4f8;
  max-width: 70%;
}

.user-message {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.bot-message {
  align-self: flex-start;
  background-color: #ebebeb;
}
