body {
  color: rgb(var(--foreground-rgb));
  background-image:linear-gradient(90deg,#ffffff,#f0f0f0);
}

p {
  margin: 0;
  padding: 0;
}

.message-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* 允許垂直方向上的滾動 */
  padding: 10px;
  background-color: #f4f4f8;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.message {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f4f4f8;
  max-width: 70%;
}

.user-message {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.bot-message {
  align-self: flex-start;
  background-color: #ebebeb;
}
